


    <div class="AttDetailsDiv">

        <div class="profile">
            <img src="" alt="" class="mainProfilePic">
            <i class="fa-solid fa-camera" style="position:relative; left: 40px; bottom: 20px;"></i>
            <p> Garba Collins</p>
            <p>Manager</p>
            <div class="profileEmpDetails">
                <p>Avg Arrival Time(Week): <b>9:00 am</b></p>
                <p>Avg Depature Time(Week): <b>9:00 pm</b></p>

                <br>

                <p>Avg Arrival Time(Month): <b>9:00 am</b></p>
                <p>Avg Depature Time(Month): <b>9:00 pm</b></p>

                <br>

                <p>Avg Arrival Time(Year): <b>9:00 am</b></p>
                <p>Avg Depature Time(Year): <b>9:00 pm</b></p>
                
            </div>

        </div>

        <div class="employeeDatabase" >
            <table class=" attendanceDetails table table-responsive taskList" >
                <tr>
                    <th>Date</th>
                    <th>Sign In</th>
                    <th>Sign Out</th>
                    <th>Comment</th>
        
                </tr>



                <tr>
                    <td><b>Mon</b> 2023-12-07</td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    
                    <td><button type="button" class="btn btn-outline-info" onclick="displayOverlay('CommentFrame');">Comment</button></td>
                    
                </tr>

                <tr>
                    <td><b>Tues</b> 2023-12-07</td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    
    
                    <td><button type="button" class="btn btn-outline-info" onclick="displayOverlay('CommentFrame');">Comment</button></td>
                    
                </tr>

                <div class="CommentFrame">
                    <div class="addFileHead">
                        <p>comment</p>
                        <i class="fa-solid fa-xmark fa-lg" style="color: red; float: right; text-align: center;" onclick="hideOverlay('CommentFrame');"></i>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur. Imperdiet id sed ut sit fermentum adipiscing.</p>
            
                </div>

                <tr>
                    <td><b>Wed</b> 2023-12-07</td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    
                    <td><button type="button" class="btn btn-outline-info" onclick="displayOverlay('CommentFrame');">Comment</button></td>
                    
                </tr>


                <tr>
                    <td><b>Thur </b>2023-12-07</td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                   
                    
                    <td><button type="button" class="btn btn-outline-info" onclick="displayOverlay('CommentFrame');">Comment</button></td>
                    
                </tr>

                <tr>
                    <td><b>Fri</b> 2023-12-07</td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    <td><input class="checkbox form-check-input" type="checkbox" ></td>
                    
                    <td><button type="button" class="btn btn-outline-info" onclick="displayOverlay('CommentFrame');">Comment</button></td>
                    
                </tr>

            </table>


        </div>



    </div>
