

    <div class="TMchange">

        <h4 class="TMchangeText" style="border-bottom: 3px solid var(--PRIMARY, #00AC6B);">Assign</h4>
        <a href="TaskManagerAssigned.html"><h4 class="TMchangeText">Assigned</h4></a>
        <a href="TaskManagerTasks.html"><h4 class="TMchangeText" >Tasks</h4></a>


    

    <div class="assignFormHolder">
        <form action="" class="assignForm" >
            <div class="profileDetails">
                <label for="Fname"> Title</label>
                <div class="FinputDiv">
                    <textarea id="Fname" name="Fname"  class="taskTitle"></textarea>
                </div>

            </div>

            <div class="profileDetails">
                <label for="Fname">Priority</label>
                <div class="FinputDiv">
                    <select id="Fname" name="Fname" class="taskPriority">
                        <option value="option3"></option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="Low">Low</option>
                       
                    </select>
                </div>
                

            </div>

            <div class="profileDetails">
                <label for="Fname"> Description</label>
                <div class="FinputDiv">
                    
                    <textarea id="Fname" name="Fname"  class="taskDescription"></textarea>
                </div>

            </div>

            <div class="profileDetails">
                <label for="Fname"> Assigned To</label>
                <div class="FinputDiv">
                    <select id="Fname" name="Fname" class="taskPriority">
                        <option value="option3"></option>
                        <option value="option1">Garba Collins</option>
                        <option value="option2">John Doe</option> 
                        
                    </select>
                </div>

            </div>

            <div class="profileDetails">
                <label for="Fname"> Deadline</label>
                <div class="FinputDiv">
                    <input type="text" id="Fname" name="Fname"  >
                </div>

            </div>

            <div class="attachment">
                <div class="fileName">
                    <p>File Name</p>

                </div>
                <div class="uploadAndSubmit">
                    <button type="button" class="btn btn-info"> <i class="fa-solid fa-arrow-up" style="margin-right: 10px;"></i>Upload Attachment</button>
                    <button type="button" class="btn btn-success">Submit</button>


                </div>
            </div>


        </form>


    </div>

