

    <div class="assignFormHolder">
        <h4>Garba Collins(Accountant)</h4>
        <form action="" class="assignForm" >
            <div class="profileDetails">
                <label for="Fname"> Title</label>
                <div class="FinputDiv">
                    <textarea id="Fname" name="Fname"  class="taskTitle"></textarea>
                </div>

            </div>

            

            <div class="profileDetails">
                <label for="Fname"> Reason</label>
                <div class="FinputDiv">
                    
                    <textarea id="Fname" name="Fname"  class="taskDescription"></textarea>
                </div>

            </div>

            <div class="profileDetails">
                <label for="Fname"> Comment</label>
                <div class="FinputDiv">
                    
                    <textarea id="Fname" name="Fname"  class="taskDescription"></textarea>
                </div>

            </div>

            <div class="from_to">
                <div class="profileDetails">
                    <label for="Fname"> From</label>
                    <div class="FinputDiv">
                        <input type="text" id="Fname" name="Fname"  >
                    </div>
    
                </div>
    
                <div class="profileDetails">
                    <label for="Fname"> To</label>
                    <div class="FinputDiv">
                        <input type="text" id="Fname" name="Fname"  >
                    </div>
    
                </div>
                <div class="profileDetails">
                    <label for="Fname"> Days</label>
                    <div class="FinputDiv">
                        <input type="text" id="Fname" name="Fname"  >
                    </div>
    
                </div>

            </div>

           

            <div class="uploadAndSubmit">
                    <button type="button" class="btn btn-success">Accept</button>
                    <button type="button" class="btn btn-danger">Reject</button>

            </div>


        </form>


    </div>
